td{
	text-align:center-left;
}
th{
	text-align:left;
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #31F6EC;
 }

/* Navigation links */
.navbara{
  float: left;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 130%;
  color: white;
  text-align: center;
  text-decoration: none;
  padding:6 0px;
  padding-left:23px;
  padding-right:23px;
  width:150px;
  height:40px;
 }

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  text-align:center;
}

/* Subnav button */
.subnav .subnavbtn {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 130%;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  padding-left:10px;
  padding-right:10px;
  width:150px;
  height:40px;
  position:relative;
  margin-left:13px;
  margin-right:13px;
  text-align:center;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #AEFEFA;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #AEFEFA;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  text-align:center;
  float: left;
  color: white;
  text-decoration: none;
}


/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
